* {
    outline: none
}

body, button {
    color: #717171;
    font-family: Helvetica, sans-serif;
}

button {
    cursor: pointer;
}

#todoList {
    width: 400px;
    margin: 0 auto;
}

#todoList input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

#todoList button.addTodo{
    height: 30px;
    width: 60px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    margin-left: 5px;
}

#todoList div.todoInput{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

#todoList .todo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #eaeaea;
    border-radius: 10px;
}

button.icon {
    border: none;
    background: none;
}

button.icon:active {
    transform: scale(1.1);
}

#todoList button svg{
    font-size: 20px;
}